@model Category
@{
    ViewData["Title"] = "Edit Category";
}
<h1>Delete Category</h1>

<p>Are you sure you want to delete the category "@Model.Type"?</p>

<form method="post" asp-action="DeleteCategoryMethod" asp-route-id="@Model.Id">
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Categories" class="btn btn-secondary">Cancel</a>
</form>