@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>
<p>Salut, admine. Aici iti poti face de cap cu magazinul.</p>

<a asp-controller="Admin" asp-action="CreateCategory" class="btn btn-primary">Create Category</a>