@{
    ViewData["Title"] = "Admin Panel";
}

<h1>Admin Panel</h1>
<p>Salut, admine. Aici iti poti face de cap cu magazinul.</p>

<a asp-controller="Categories" asp-action="Index" class="btn btn-primary">Manage Categories</a>

<a asp-controller="Products" asp-action="Index" class="btn btn-primary">Manage Products</a>

<a asp-controller="Proposals" asp-action="Index" class="btn btn-primary">Review Product Proposals</a>